body{
    overflow-y: hidden;
}

.centerDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10%;
    justify-content: center;
}
  form{
      padding: 10px;
      border: 2px dashed black;
      width: 500px;
      display: flex;
      flex-direction: column;
  }
  button{
      width: 20%;
      left: 40%;
  }
.redzik{
    display: flex;
    margin-top: 5px;
    color: red;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
}