<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Tytuł</mat-label>
    <input matInput [(ngModel)]="data.login" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Opis</mat-label>
    <input matInput [(ngModel)]="data.pass" required />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-select [(ngModel)]="data.value" [(value)]="selected">
      <mat-option [value]="1"> Użytkownik </mat-option>
      <mat-option [value]="2"> Administrator </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
