<div ngClass="secondTheme">
    <h1 mat-dialog-title>Zmiana Motywu</h1>
    <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Tytuł</mat-label>
      <input matInput [(ngModel)]="sendData.title" required maxlength="32" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Opis</mat-label>
      <input matInput [(ngModel)]="sendData.content" required />
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>Link</mat-label>
      <input matInput [(ngModel)]="sendData.link" required />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button mat-button [mat-dialog-close]="sendData" cdkFocusInitial>Ok</button>
  </div>
  </div>
  