<div class="card-body">
  <h3>{{ list?.title }}</h3>
  <h4 class="card-text">
    {{ list?.content | shortenContent }}
  </h4>
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        [disabled]="userInfo.login == 0"
      >
        View
      </button>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        *ngIf="userInfo.login == 2"
      >
        Edit
      </button>
    </div>
  </div>
</div>
