<span>
  <a
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a routerLink="galery" routerLinkActive="active">Galery</a>
  <a routerLink="news" routerLinkActive="active">News</a>
  <a routerLink="about" routerLinkActive="active">About</a>
</span>
<div>
  <button mat-raised-button color="primary" routerLink="login/1">
    Zaloguj
  </button>
  <button mat-stroked-button color="accent" routerLink="login/0">
    Zarejestruj
  </button>
</div>
