<span ngClass="leftNav">
  <a ngClass="a theme"
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a ngClass="a theme" routerLink="galery" routerLinkActive="active">Galery</a>
  <a ngClass="a theme" routerLink="news" routerLinkActive="active">News</a>
</span>
<div ngClass="rightNav">
  <button
    mat-raised-button
    color="primary"
    routerLink="login/1"
    *ngIf="userInfo.login == 0"
    ngClass="loginButton"
  >
    Zaloguj
  </button>
  <button
    mat-stroked-button
    color="accent"
    routerLink="login/0"
    *ngIf="userInfo.login == 0"
    ngClass="loginButton"
  >
    Zarejestruj
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
    *ngIf="userInfo.login != 0"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="userInfo.login == 2" routerLink="userList">
      <mat-icon>perm_identity</mat-icon>
      <span>Zarządzaj urzytkownikami</span>
    </button>
    <button mat-menu-item routerLink="theme">
      <mat-icon>palette</mat-icon>
      <span>Ustaw motyw</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>logout</mat-icon>
      Wyloguj
    </button>
  </mat-menu>
</div>
