table{
    width: 500px;
    
}
th, td{ 
    padding: 20px !important;
    margin-left: 10px;
}
.tabCenter{
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: center;
}
.butMarg{
    margin-left: 5px;
}