/* You can add global styles to this file, and also import other style files */
:root {
  --background: white;
  --font-color: black;
  --second-background: white;
  --second-font-color: black;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.theme {
  background-color: var(--background);
  color: var(--font-color) !important;
}
.secondTheme{
  background-color: var(--second-background);
  color: var(--second-font-color) !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
