/* You can add global styles to this file, and also import other style files */

*{}

html,
body {
  height: 100%;
  overflow-x: hidden;

}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.theme{
  background-color: rgb(44, 40, 40);
  color:whitesmoke !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
