<div class="carusel">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of bannerList">
      <div class="picsum-img-wrapper">
        <img [src]="image.link" [alt]="image.title" />
      </div>
      <div class="carousel-caption">
        <h3>{{ image.title }}</h3>
        <p>{{ image.content }}</p>
        <button (click)="delete(image.id)" *ngIf="userInfo.login == 2">
          Usuń
        </button>
        <button (click)="addBanner()" *ngIf="userInfo.login == 2">
          Dodaj Banner
        </button>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="news">
  <app-news *ngFor="let news of newsList" [list]="news"></app-news>
</div>
<app-content-card
  *ngFor="let card of cardList"
  [card]="card"
></app-content-card>
