<div class="carusel">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of bannerList">
      <div class="picsum-img-wrapper">
        <img [src]="image.link" [alt]="image.title" ngClass="carouselImg"/>
      </div>
      <div class="carousel-caption">
        <h3 ngClass="imgTitle">{{ image.title }}</h3>
        <p ngClass="imgContent">{{ image.content }}</p>
        <button
          mat-raised-button
          (click)="deletePost(image.id)"
          *ngIf="userInfo.login == 2"
        >
          Usuń
        </button>
        <button
          mat-raised-button
          (click)="addBanner()"
          *ngIf="userInfo.login == 2"
        >
          Dodaj
        </button>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="news">
  <app-news *ngFor="let news of newsList" [list]="news"></app-news>
</div>
<hr />
<app-content-card
  *ngFor="let card of cardList"
  [card]="card"
  (reloadCardData)="this.loadCardData()"
></app-content-card>
<div ngClass="addCard">
<button  mat-raised-button (click)="this.addCard()" *ngIf="userInfo.login == 2">
  Dodaj
</button></div>
