.imgTitle{
  letter-spacing: 1px;
  font-weight: bolder;
  color: rgb(10, 192, 238);
}
button{ 

  margin-left: 8px;
}

.news{
  display: flex;
 justify-content: space-evenly;
}

.carusel {
  margin-top: 10px;
}
