.imgTitle{
  letter-spacing: 1px;
  font-weight: bolder;
  color: whitesmoke;
}
.imgContent{
  color: whitesmoke;
}
button{ 
  background-color: rgb(167, 39, 39);
  margin-left: 8px;
  color: whitesmoke;
}
.news{
  display: flex;
 justify-content: space-evenly;
}
.carusel {
  margin-top: 10px;

}

.carouselImg{
  width: 100%;
  height: 500px;
}
app-content-card{
  text-align: center;
  margin: 10px;
}
.addCard{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
